<div id="map" style="width: 100%; height: 100vh"></div>
<div class="map" id="map"></div>
<div class="modal-wrapper">
    <div class="modal">
        <div class="modal-header">
            <img
            class="modal-header__mark"
            src="/src/img/littleMark.png"
            alt="little_mark"
            />
            <h2 class="modal-header__location">Расположение</h2>
            <div class="modal-header__close"></div>
        </div>
        <div class="modal-comments">
            <div class="modal-comments__wrapper">
            <span class="modal-comments__comment-empty">Отзывов пока нет...</span>
            </div>
        </div>
        <div class="modal-comment">
            <h3 class="modal-comment__title">Ваш отзыв</h3>
            <form action="" class="modal-comment__form">
            <input
                type="text"
                placeholder="Ваше имя"
                class="modal-comment__name"
            />
            <input
                type="text"
                placeholder="Укажите место"
                class="modal-comment__place"
            />
            <textarea
                name=""
                id=""
                rows="5"
                placeholder="Поделитесь впечатлениями"
                class="modal-comment__desc"
            ></textarea>
            <button type="submit" class="modal-comment__btn">Добавить</button>
            </form>
        </div>
    </div>
</div>